package components

templ Hello(name string,temp string, datalist templ.Component) {
	<div style="color: aliceblue">Hello, { name }</div>
  <div>la temperature est de , { temp }</div>
	@datalist
}

templ HelloError(err string) {
	<div>Error Error Error { err }</div>
}
