package components


templ Hello(name string) {
	@DataList()
	<div class="flex justify-center pt-4" id="weather-container"></div>
}

templ HelloError(err string) {
	<div>Error Error Error { err }</div>
}
